* {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  background: #005aac;
  min-height: 120px;
  display: flex;
}

.container {
  width: 100vw;
  position: relative;
  display: flex;
}

nav {
  width: 300px;
  height: calc(100vh - 120px);
  background: #ccc;
}

nav ul {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  font-size: 2rem;
}

nav li {
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

nav li:hover,
nav li.active {
  color: #aaa;
  background: #eee;
}

main {
  display: flex;
  width: calc(100vw - 300px);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

h2 {
  text-align: center;
  margin: 2rem 0;
}

.tabPanel {
  display: flex;
  position: absolute;
  top: -2.7rem;
  right: 0;
  left: 300px;
}

.tabPanel li {
  width: 120px;
  text-align: center;
  color: #eee;
  border: 2px solid #eee;
  border-radius: 20px 20px 0 0;
  border-bottom: none;
  cursor: default;
}

.tabPanel li.active {
  color: #333;
  background: #ccc;
}

.tabPanel li > span {
  margin-left: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

form input {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  font-size: 1.5rem;
}
